@import url(https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Didact+Gothic);

$black: #000000;
$white: #ffffff;
$red: #b71c1c;

$spacing-size-1: 12px;
$spacing-size-2: 24px;
$icon-size: 60px;

$hover-transition: color 0.5s ease;

$carrois-gothic: 'Carrois Gothic SC', sans-serif;
$didact-gothic: 'Didact Gothic', sans-serif;

html {
    background-color: $black;
}

body {
    font-family: $didact-gothic;
}

.container {
    max-width: 768px;
}

.red-text {
    color: $red;
}

h1,
h2,
h3,
h4,
p {
    color: $white;
}

h1 {
    font-family: $carrois-gothic;
}

input:not([type]) {
    border-bottom: 1px solid $white;
    color: $white;

    &:focus {
        border-bottom: 1px solid $red !important;
        box-shadow: 0 1px 0 0 $red !important;
    }
}

.btn {
    margin-left: $spacing-size-1;
}

.card-action {
    border-top: 1px solid $white !important;
}

.collection {
    .collection-item {
        background-color: rgba(255,255,255,0.25);
        color: $white;
    }
}

.red-link {
    color: $red;
    transition: $hover-transition;

    &:hover {
        color: $white;
    }
}

.devicon {
    color: $white;
    font-size: $icon-size;
    transition: $hover-transition;

    &:hover {
        color: $red;
    }
}

.icon-list {
    li {
        padding: $spacing-size-1 0 $spacing-size-1 0;
    }
}

@media only screen and (min-device-width: 540px) {
    .icon-list {
        li {
            display: inline-block;
            padding: 0;
            margin-left: $spacing-size-2;
        }
    }
}
